* {
  margin: 0;
}

body {
  font-family: "Pixelify Sans", sans-serif;
  background-color: #4478a8;
}

h1 {
  margin-top: 20px;
  color: #f2e5e5;
  font-size: 50px;
  font-weight: 100;
}

.container {
  cursor: crosshair;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  width: 600px;
  height: 600px;
  border: 10px double black;
}

.box {
  box-sizing: border-box;
  border: 1px solid grey;
  opacity: 0.1;
}

.wrapper {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
